@{
    ViewData["Title"] = "系统配置";
    ViewData["Module"] = "系统管理 / 系统配置";
}
<div class="page-container">
    <div class="toolbar">
        <button class="layui-btn" id="btnCreate"><i class="layui-icon layui-icon-add-1"></i> 新增配置</button>
    </div>
    <table id="dataTable" lay-filter="dataTable"></table>
</div>
@section Scripts {
<script>
    layui.use(['table','form'], function () { var table = layui.table, form = layui.form; form.render();
        table.render({ elem: '#dataTable', url: '/SysConfig/GetList', page: true, limit: 10,
            cols: [[
                { field: 'configKey', title: '配置键', width: 180 },
                { field: 'configValue', title: '配置值', width: 200 },
                { field: 'description', title: '说明', minWidth: 150 },
                { fixed: 'right', title: '操作', width: 140, templet: function(d){
                    return '<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>';
                }}
            ]],
            request: { pageName: 'pageIndex', limitName: 'pageSize' },
            response: { statusCode: 0, countName: 'total', dataName: 'data' }
        });
        $('#btnCreate').click(function(){ openLayer('新增配置','/SysConfig/Create','500px','300px'); });
        table.on('tool(dataTable)', function(obj){
            if (obj.event === 'edit') openLayer('编辑','/SysConfig/Edit/'+obj.data.id,'500px','300px');
            else if (obj.event === 'delete') confirmDelete('/SysConfig/Delete', obj.data.id, 'dataTable');
        });
    });
</script>
}
