@{
    ViewData["Title"] = "检查项目管理";
    ViewData["Module"] = "基础数据 / 检查项目管理";
}
<div class="page-container">
    <div class="panel-card search-form">
        <form class="layui-form" id="searchForm" onsubmit="return false;">
            <div class="layui-form-item" style="margin-bottom:5px;">
                <div class="layui-inline">
                    <input type="text" name="keyword" placeholder="项目名称 / 分类" class="layui-input" style="width:200px;" />
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-primary" lay-submit lay-filter="search"><i class="layui-icon layui-icon-search"></i> 搜索</button>
                    <button type="button" class="layui-btn layui-btn-primary" id="btnReset">重置</button>
                </div>
            </div>
        </form>
    </div>
    <div class="toolbar">
        <button class="layui-btn" id="btnCreate"><i class="layui-icon layui-icon-add-1"></i> 新增项目</button>
    </div>
    <table id="dataTable" lay-filter="dataTable"></table>
</div>
@section Scripts {
<script>
    layui.use(['table','layer','form'], function () {
        var table = layui.table, layer = layui.layer, form = layui.form;
        form.render();
        table.render({
            elem: '#dataTable', url: '/ChargeItem/GetList', page: true, limit: 10, limits: [10,15,20,50],
            request: { pageName: 'pageIndex', limitName: 'pageSize' },
            cols: [[
                { field: 'category', title: '分类', width: 100 },
                { field: 'itemName', title: '项目名称', width: 200 },
                { field: 'specification', title: '规格备注', width: 150 },
                { field: 'unit', title: '单位', width: 60 },
                { field: 'unitPrice', title: '单价', width: 80, templet: function(d){ return '¥'+formatMoney(d.unitPrice); }},
                { field: 'description', title: '说明', minWidth: 150 },
                { field: 'status', title: '状态', width: 70, templet: function(d){ return d.status===1?'<span style="color:#5FB878;">启用</span>':'<span style="color:#999;">停用</span>'; }},
                { fixed: 'right', title: '操作', width: 140, templet: function(d){
                    return '<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>';
                }}
            ]],
            response: { statusCode: 0, countName: 'total', dataName: 'data' }
        });
        form.on('submit(search)', function () { table.reload('dataTable', { where: form.val('searchForm'), page:{curr:1} }); return false; });
        $('#btnReset').click(function () { $('#searchForm')[0].reset(); table.reload('dataTable',{where:{},page:{curr:1}}); });
            $('#btnCreate').click(function(){ openLayer('新增检查项目','/ChargeItem/Create','600px','450px'); });
        table.on('tool(dataTable)', function(obj){
                    if (obj.event === 'edit') openLayer('编辑','/ChargeItem/Edit/'+obj.data.id,'600px','450px');
            else if (obj.event === 'delete') confirmDelete('/ChargeItem/Delete', obj.data.id, 'dataTable');
        });
    });
</script>
}
